/* Andy Bell's reset */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
	display: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* Actual styling */

/* general styling */

:root {
	--color-primary-400: hsl(25, 97%, 53%);

	--color-neutral-100: hsl(0, 0%, 100%);
	--color-neutral-200: hsl(217, 12%, 63%);
	--color-neutral-300: hsl(216, 12%, 54%);
	--color-neutral-400: hsl(213, 19%, 18%);
	--color-neutral-700: hsl(210, 19%, 18%);
	--color-neutral-800: hsl(215, 20%, 16%);
	--color-neutral-900: hsl(216, 12%, 8%);

	--font-size-300: 14px;
	--font-size-400: 16px;
	--font-size-500: 20px;
	--font-size-600: 30px;

	--font-weight-primary: 400;
	--font-weight-bold: 700;

	--spacer-24: 6.4vw;
	--spacer-25: 25px;
	--spacer-32: 2rem;

	--border-radius-max: 100vw;
	--border-radius: 3.2vw;

	--circular-element: 11.2vw;
	--circular-element-large: 52px;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background-color: var(--color-neutral-900);
	color: var(--color-neutral-200);
	font-family: "Overpass", sans-serif;
	font-size: var(--font-size-300);
}

.card {
	flex-direction: column;

	/* Technically, some the following should belong to the block level */

	margin: var(--spacer-25);
	flex: 0 1 25.75rem;
	max-width: 25.75rem;
	border-radius: min(30px, var(--border-radius));
	padding-inline: min(var(--spacer-32), var(--spacer-24));
	padding-block: min(var(--spacer-32), var(--spacer-24));
}

/* Utilities */

.font-weight-primary {
	font-weight: var(--font-weight-primary);
}

.font-weight-bold {
	font-weight: var(--font-weight-bold);
}

.font-size-primary {
	font-size: var(--font-size-300);
}

.font-size-heading {
	font-size: var(--font-size-500);
}

@media (min-width: 25rem) {
	.font-size-primary {
		font-size: var(--font-size-400);
	}
	.font-size-heading {
		font-size: var(--font-size-600);
	}
}

/* Color utilitiy classes */

.color-orange {
	color: var(--color-primary-400);
}

.color-grey {
	color: var(--color-neutral-300);
}

.color-light-grey {
	color: var(--color-neutral-200);
}

.color-white {
	color: var(--color-neutral-100);
}

.background-color-orange {
	background-color: var(--color-primary-400);
}

.background-color-grey {
	background-color: var(--color-neutral-800);
}

.background-color-light-grey {
	background-color: var(--color-neutral-700);
}

/* Display and shape utility classes */

.space-between {
	justify-content: space-between;
}

.center {
	align-items: center;
	justify-content: center;
}

.circular {
	width: min(52px, var(--circular-element));
	height: min(52px, var(--circular-element));
	border-radius: var(--border-radius-max);
}

.border-radius-max {
	border-radius: var(--border-radius-max);
}

/* Block layer */

.button {
	border: none;
}

.thank-you-state {
	align-items: center;
	text-align: center;
	padding-block: 3rem;
}

.user-choice {
	width: max-content;
	padding-inline: 1.2em;
	padding-block: 0.3em;
}

.icon {
	width: 45%;
	aspect-ratio: 1;
}

.text-wrapper {
	flex-direction: column;
}

/* Exceptions */

head {
	display: none;
}

[data-display="hidden"] {
	display: none;
}

.button:hover {
	color: var(--color-neutral-100);
	background-color: var(--color-primary-400);
}

.button[data-type="inverted"] {
	width: 100%;
}

.button[data-type="inverted"]:hover {
	color: var(--color-primary-400);
	background-color: var(--color-neutral-100);
}

.button[data-selected="true"] {
	background-color: var(--color-neutral-200);
	color: var(--color-neutral-100);
}
